@import "tailwindcss";

@layer base {
  html,
  body {
    @apply max-w-screen overflow-x-hidden antialiased;
  }

  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    @apply text-inherit no-underline;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
